@media (min-width: 768px) {
	.new-input {
		width: 50%;
	}
}

.theme-red-background {
	background-color: rgb(119, 4, 35) !important;
}

.theme-red-foreground {
	color: rgb(119, 4, 35) !important;
}


body {
	background: rgb(119, 4, 35);
}

.white {
	background: rgb(255, 255, 255);
}

body::before {
	display: block;
	content: "";
	height: 50px;
}

.spliter {
	border-top: 5px solid darkgray !important; 
	padding-top: 30px !important;
}

/* Medium */
@media screen and (max-width:768px) {
	/* 低于 Medium 消失 */
	.switch-disappear {
		display: none;
	}
	/* 低于 Medium 显示 */
	.switch-show {
		display: block;
	}
	
	.clear_padding {
		padding: 0px;
	}
	
	.reset_margin: {
		margin: 120px 0px 0px 0px !important;
	}
}

